.page-header
  = title('Resend unlock instructions')

= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form form-horizontal' }) do |f|
  = f.error_notification
  = f.full_error :unlock_token

  .form-inputs
    = f.input :email, required: true, as: :email, wrapper: :append do
      = f.input_field :email, autofocus: true
      %span.add-on>
        %i.icon-envelope

  .form-actions
    = f.button :submit, 'Resend unlock instructions', class: 'btn-primary'

= render "devise/shared/links"

