.page-header

  .btn-group.pull-right
    = link_to 'New User', new_user_path, class: "btn btn-primary"

  = title('Users', 'Subtext for header')

%table.table.table-striped.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th E-mail
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, user_path(user)
        %td= link_to user.name, user_path(user)
        %td= link_to user.email, user_path(user)
        %td
          = link_to 'Show', user_path(user)
          |
          = link_to 'Edit', edit_user_path(user)
          |
          = link_to 'Delete User', user_path(user), method: :delete, confirm: 'Are you sure that you want to permanently delete this user?'

= paginate @users
