.page-header

  -#.btn-group.pull-right
  -#  %a.btn.btn-primary{ href: new_project_path }
  -#    %i.icon-folder-close.icon-white
  -#    New Project

  = title(@project.display_name)

%ul.nav.nav-tabs.nav-stacked
  %li= link_to 'Category 1', '#'
  %li= link_to 'Category 2', '#'
  %li= link_to 'Category 3', '#'
  %li= link_to 'Category 4', '#'
  %li= link_to 'Category 5', '#'
  %li= link_to 'Category 6', '#'
