.page-header
  = title('Sign in')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, as: :email, wrapper: :append do
      = f.input_field :email, autofocus: true
      %span.add-on>
        %i.icon-envelope

    = f.input :password, required: true, wrapper: :append do
      = f.input_field :password
      %span.add-on>
        %i.icon-lock

    - if devise_mapping.rememberable?
      = f.input :remember_me, label: false, as: :boolean, inline_label: 'Remember me'

  .form-actions
    = f.button :submit, "Sign in", class: 'btn-primary'

= render "devise/shared/links"
