- current_category ||= -1
- expanded = category.self_and_descendants.map(&:id).include?(current_category.to_i).to_s

%li.ui-state-default[category]{ data: { expanded: expanded, url: move_project_category_path(@project, category) } }

  .btn.btn-link.handle.pull-right
    %i.icon-resize-vertical

  .btn-group.pull-right
    = link_to new_project_category_path(@project, parent_id: category.id), class: 'btn btn-small btn-success' do
      %i.icon-folder-close.icon-white
      New

  .btn-group.pull-right
    = link_to project_category_path(@project, category), class: 'btn btn-small btn-primary' do
      %i.icon-search.icon-white
      Show
    = link_to edit_project_category_path(@project, category), class: 'btn btn-small btn-warning' do
      %i.icon-edit.icon-white
      Edit
    = link_to(project_category_path(@project, category), method: :delete, confirm: 'Are you sure that you want to permanently delete this category and any sub-categories?', class: 'btn btn-small btn-danger') do
      %i.icon-trash.icon-white
      Delete

  .categories.pull-right
    %i.icon-folder-close
    %span.badge.badge-success= 0
    \/
    %span.badge= category.descendants.count
    &nbsp;
    %i.icon-file
    %span.badge.badge-success= 0
    \/
    %span.badge= category.features.count
    &nbsp;
    %i.icon-list
    %span.badge.badge-success= 0
    \/
    %span.badge= category.scenarios.count

  = link_to project_category_path(@project, category), class: 'header' do
    = category.display_name


  .content
    - unless category.children.blank?
      %ul.nav.nav-tabs.nav-stacked.sortable.accordion
        = render partial: 'categories/edit_category', collection: category.ordered_children, as: :category, locals: { current_category: current_category }
