.page-header
  = title('New Category', @project.display_name)

= simple_form_for(@category, url: project_categories_path(@project), html: { method: :post, class: 'form form-horizontal' }) do |f|

  = f.error_notification

  .form-inputs
    = f.input :name, as: :string, wrapper: :append do
      = f.input_field :name, autofocus: true
      %span.add-on>
        %i.icon-folder-close

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to "Cancel", edit_project_path(@project), class: 'btn'
