.page-header

  .btn-group.pull-right
    %a.btn.btn-primary{ href: admin_user_path(@user) }
      %i.icon-user.icon-white
      Show User
    %a{ href: '#', class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown" } }
      %span.caret
    %ul.dropdown-menu
      %li= link_to 'Edit User', admin_user_path(@user)
      %li= link_to 'Delete User', admin_user_path(@user), method: :delete, confirm: 'Are you sure that you want to permanently delete this user?'

  = title(@user.display_name, 'Editing User')

= simple_form_for(@user, url: admin_user_path(@user), html: { method: :put, class: 'form form-horizontal' }) do |f|

  = f.error_notification

  .form-inputs

    = f.input :name, as: :string, wrapper: :append do
      = f.input_field :name, autofocus: true
      %span.add-on>
        %i.icon-user

    = f.input :email, required: true, as: :email, wrapper: :append do
      = f.input_field :email
      %span.add-on>
        %i.icon-envelope

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to 'Cancel', admin_users_path, class: 'btn'
