.page-header

  .btn-group.pull-right
    %a.btn.btn-primary{ href: new_admin_user_path }
      %i.icon-user.icon-white
      New User

  = title('Users')

%table.table.table-striped.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th E-mail
      %th Actions
  %tbody
    - @users.each do |user|
      %tr[user]
        %td= link_to user.id, admin_user_path(user)
        %td
          = link_to user.name, admin_user_path(user)
          - if user.administrator?
            %i.icon-eye-open
        %td= link_to user.email, admin_user_path(user)
        %td
          .btn-group
            = link_to admin_user_path(user), class: 'btn btn-small btn-primary' do
              %i.icon-search.icon-white
              Show
            = link_to edit_admin_user_path(user), class: 'btn btn-small btn-warning' do
              %i.icon-edit.icon-white
              Edit
            - unless user.administrator?
              = link_to(admin_user_path(user), method: :delete, confirm: 'Are you sure that you want to permanently delete this user?', class: 'btn btn-small btn-danger') do
                %i.icon-trash.icon-white
                Delete

= paginate @users
