.page-header

  .btn-group.pull-right
    %a.btn.btn-primary{ href: edit_admin_user_path(@user) }
      %i.icon-user.icon-white
      Edit User
    %a{ href: '#', class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown" } }
      %span.caret
    %ul.dropdown-menu
      %li= link_to 'Edit User', edit_admin_user_path(@user)
      %li= link_to 'Delete User', admin_user_path(@user), method: :delete, confirm: 'Are you sure that you want to permanently delete this user?'

  = title(@user.display_name, 'Showing User')

%h2 Account information
.well
  %dl.dl-horizontal
    %dt Name
    %dd= display @user.name

    %dt E-mail
    %dd= display @user.email

    %dt Administrator
    %dd
      - if @user.administrator
        %i.icon-ok
      - else
        No

%h2 Details
.well.well-small
  %dl.dl-horizontal
    %dt Reset Password Token
    %dd= display @user.reset_password_token

    %dt Reset Password Sent at
    %dd= display @user.reset_password_sent_at

    %dt Remember Created at
    %dd= display @user.remember_created_at

    %dt Sign in Count
    %dd= display @user.sign_in_count

    %dt Current Sign in at
    %dd= display @user.current_sign_in_at

    %dt Last Sign in at
    %dd= display @user.last_sign_in_at

    %dt Current Sign in IP
    %dd= display @user.current_sign_in_ip

    %dt Last Sign in IP
    %dd= display @user.last_sign_in_ip

    %dt Confirmation Token
    %dd= display @user.confirmation_token

    %dt Confirmed at
    %dd= display @user.confirmed_at

    %dt Confirmation Sent at
    %dd= display @user.confirmation_sent_at

    %dt Unconfirmed E-mail
    %dd= display @user.unconfirmed_email

    %dt Failed Attempts
    %dd= display @user.failed_attempts

    %dt Unlock Token
    %dd= display @user.unlock_token

    %dt Locked at
    %dd= display @user.locked_at

    %dt Created at
    %dd= display @user.created_at

    %dt Updated at
    %dd= display @user.updated_at
