.page-header
  = title(@feature.display_name, @category.display_name)

= simple_form_for(@feature, url: project_category_feature_path(@project, @category, @feature), html: { method: :put, class: 'form form-horizontal' }) do |f|
  = f.error_notification
  = render partial: 'form_inputs', locals: { f: f }
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to "Cancel", project_category_path(@project, @category, feature_id: @feature.id), class: 'btn'
