.page-header
  = title('New Feature', @category.display_name)

= simple_form_for(@feature, url: project_category_features_path(@project, @category), html: { method: :post, class: 'form form-horizontal' }) do |f|
  = f.error_notification
  = render partial: 'form_inputs', locals: { f: f }
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to "Cancel", project_category_path(@project, @category), class: 'btn'
